<div class="w-1200">
    <img class="logo" src="images/logo.png"/>
    <div class="nav">
        <!--<a href="index.html" data-param="index">首页</a>
        <em>/</em>-->
        <a href="index.html" data-param="class">八大智能</a>
        <em>/</em>
        <a href="new.html" data-param="index">最新</a>
        <em>/</em>
        <a href="javascript:void(0);" data-param="diy">DIY系列</a>
        <em>/</em>
        <a href="javascript:void(0);" class="more">更多<i class="icon-bt"></i></a>
        <div class="more-content" onmouseout="n(this);" onmouseover="m(this);">
            <h1>
                <a href="javascript:void(0);" data-param="tech">物理化学实验</a>
                <em>|</em>
                <a href="javascript:void(0);" data-param="mzwj">木质玩教具</a>
                <em>|</em>
                <a href="javascript:void(0);" data-param="hakj">黑暗科技</a>
            </h1>
            <h1>
                <a href="javascript:void(0);" data-param="mr">毛绒</a>
                <em>|</em>
                <a href="javascript:void(0);" data-param="cc">车船</a>
            </h1>
        </div>
    </div>
    <div class="top-right">
        <form action="#"><input type="search" placeholder="输入商品名称"/></form>
        <em></em>
        <!-- 未登录 -->
        <div class="btn" style="display: none;">
            <a href="login.html">登录</a>&nbsp;/&nbsp;<a href="register.html">注册</a>
        </div>
        <!-- 已登录 -->
        <div class="userInfo" style="display: block;">
            <img src="images/other/avatar.png">
            <span>文弱、书生</span>
            <div class="userInfo-other">
                <div>
                    <h1 onclick="com.redirect('member.html')">个人主页</h1>
                    <h1 onclick="com.redirect('goodsCart.html')">购物车 <em>5</em></h1>
                    <!--<h1>账户设置</h1>-->
                    <h1 onclick="com.redirect('member_message.html')">消息</h1>
                    <h1>退出</h1>
                </div>
            </div>
        </div>
        <em></em>
        <div class="app">
            <code>
                <img src="dilemu.ico"/>
            </code>
            迪乐姆APP <i></i>
            <img id="download_app" src="images/app.png">
        </div>
    </div>
</div>
<script type="text/javascript" src="js/top.js"></script>