<img id="avatar" onclick="com.redirect('member.html')" src="http://dilemu-app.oss-cn-shanghai.aliyuncs.com/shop/goodslist/8e97eebb-9f44-429e-a188-010a2cb5a60b.jpg?x-oss-process=image/resize,w_100">
<div class="info">
    <div class="name" onclick="com.redirect('member.html')">文弱、书生℃ <!--<a href="javascript:void(0);">编辑资料</a>--></div>
    <div class="actions">
        <a class="collect" href="my_collect.html"><div>收藏 (24)</div></a>
        <a class="message" href="member_message.html"><div>消息<em>99</em></div></a>
        <a class="coupon" href="my_coupon.html"><div>优惠券</div></a>
        <a class="integral" href="my_integral.html"><div>积分</div></a>
        <a class="foot-place" href="my_foot_place.html"><div>足迹</div></a>
        <a class="address" href="my_address.html"><div>收货地址</div></a>
    </div>
</div>